@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Raleway";
  src: local("Raleway-Medium"),
    url("./fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: medium;
}
@layer base {
  body {
    @apply text-base font-normal;
    line-height: 1.5;
  }
  input {
    @apply outline-none;
  }
} ;
